<div class="container">
  <h3 class="text-center mt-2 mb-2">TO DO List</h3>

  <table class="table table-sm">
    <tr *ngFor="let task of tasks">
      <td class="text-center align-middle">
        <input type="checkbox" [(ngModel)] = "task.completed" (click)="markTask(task)">
      </td>
      <td class="align-middle">
        {{task.text}}
      </td>
      <td class="text-right align-middle">
        <button class="btn btn-outline-primary btn-sm mt-1 mb-1" (click)="editTask(task.id)">Edit</button>
			  <button class="btn btn-outline-primary btn-sm mt-1 mb-1" (click)="deleteTask(task.id)">Delete</button>
      </td>
    </tr>
  </table>

  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
</div>
